<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ELinkTech</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="https://kit.fontawesome.com/64301a05d6.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-dark mb-3">
            <div class="container-fluid ps-5">
                <a class="navbar-brand text-light " asp-area="" asp-controller="Main" asp-action="Index">ELinkTech</a>
        
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light page-scroll" href="#sect1">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light page-scroll" href="#sect2">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light page-scroll" href="#sect3">Services</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light page-scroll" href="#sect4">Resellers</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light page-scroll" href="#sect5">Contact</a>
                        </li>
                        <!--
                        <li class="nav-item">
                            a class="nav-link text-light " asp-area="" asp-controller="Main" asp-action="Privacy">Privacy</a>
                        </li>
                        -->
                    </ul>
                    <ul class="navbar nav justify-content-end pe-3">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Main" asp-action="Login">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Main" asp-action="Register">Register</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main role="main" class="pb-3 px-5">
    <div class="container-fluid">
            @RenderBody()
    </div>
    </main>
    <footer class="border-top footer text-muted bg-dark">
        <nav class="navbar navbar-expand-lg navbar-light bg-dark mb-3">
            <div class="container-fluid ps-5">
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    &copy; 2022 - ELinkTech
                    <ul class="navbar nav justify-content-end pe-3">
                        <li class="nav-item pe-1">
                            <i class="nav-link fa-brands fa-facebook"></i>
                        </li>
                        <li class="nav-item pe-1">
                            <i class="nav-link fa-brands fa-instagram"></i>
                        </li>
                        <li class="nav-item pe-1">
                            <i class="nav-link fa-brands fa-twitter"></i>
                        </li>
                        <li class="nav-item pe-1">
                            <i class="nav-link fa-brands fa-linkedin"></i>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
