@model IEnumerable<ELinkTech.Models.Category>
<div class="container" style="padding-top: 100px;">
    <div class="row justify-content-md-center">
        <div class="col-md-12 col-lg-8">
            <h1 class="mb-3 text-center">Category List</h1>
            <form method="get">
                <button class="product-btn btn btn-custom float-end mb-3" asp-action="AddCategory">Add</button>
            </form>
            <table class="table table-striped">
                <tr>
                    <th>@Html.DisplayNameFor(m => m.CategoryName)</th>
                    <th></th>
                    <th></th>
                </tr>
                @foreach (var category in Model)
                {
                    <tr>
                        <td>@category.CategoryName</td>
                        <td>@Html.ActionLink("Edit", "UpdateCategory", new { id = category.CategoryID }, new { @class = "btn btn-primary"})</td>
                        <td> @Html.ActionLink("Delete", "DeleteProduct", "Product", new { @id = category.CategoryID }, new { @onClick = "return confirm('Are you sure you want to delete?')" })</td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>