@model ELinkTech.Models.Category
<div class="container" style="padding-top: 120px;">
    <ul class="nav nav-tabs nav-justified mb-5">
        <li class="nav-item">
            <a class="nav-link" asp-controller="Product" asp-action="FindProducts">Services</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="Admin" asp-action="GetSuppliers">Suppliers</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" asp-controller="Admin" asp-action="GetCategories">Categories</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="Admin" asp-action="GetQuotes">Quotes</a>
        </li>
    </ul>

    <div class="row justify-content-md-center">
        <div class="col-md-12 col-lg-6">
            <h1 class="mb-3 text-center">Edit Category</h1>
            <form method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="mb-3" hidden>
                    <label class="col-form-label" asp-for="CategoryID"></label>
                    <input type="text" asp-for="CategoryID" class="form-control" />
                    <span asp-validation-for="CategoryID" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label class="col-form-label" asp-for="CategoryName"></label>
                    <input type="text" asp-for="CategoryName" class="form-control" />
                    <span asp-validation-for="CategoryName" class="text-danger"></span>
                </div>
                <div class="text-center">
                    <button type="submit" class="product-btn btn btn-custom">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>