@{
    ViewData["Title"] = "Main Page";
}
<div class="text-center">
    <section>
        <div id="sect1">

        <h1>Section 1 Welcome</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque lacus lorem, condimentum quis volutpat eget, vestibulum ut eros. Nulla aliquam maximus malesuada. In quis nisi urna. Fusce et sodales est. Nulla pellentesque malesuada eros, vel posuere mi iaculis ac. Phasellus consectetur ante risus, vitae hendrerit purus tempor non. Vivamus at velit sed magna tincidunt facilisis.

                Fusce vel sem at massa dapibus pretium id quis sapien. Pellentesque interdum porta tellus, non lacinia est tempor in. Pellentesque a sem ipsum. Donec eget vehicula diam. Sed eget odio quis diam molestie porta vel sit amet orci. Suspendisse tempus nunc sed porttitor laoreet. Proin malesuada suscipit lectus vel mattis. Aenean eget quam sed urna suscipit posuere ac id leo. Sed eget massa accumsan neque pellentesque mattis.

                Vivamus porttitor nunc quis venenatis lacinia. Quisque quis feugiat quam. Sed mollis eu quam nec aliquam. Fusce libero lectus, facilisis eget elit non, elementum consequat metus. Donec vulputate est sit amet nunc dignissim fermentum. Sed suscipit odio a mattis bibendum. Mauris lacinia nisl in nisi venenatis, in ultrices justo rutrum. Phasellus porttitor turpis tortor, eget luctus justo ullamcorper non. Praesent efficitur hendrerit mi. Interdum et malesuada fames ac ante ipsum primis in faucibus. Suspendisse lacinia, augue at eleifend interdum, lorem tortor sollicitudin arcu, eget laoreet turpis quam eget turpis. Nunc efficitur nulla risus, elementum efficitur justo blandit vehicula. Praesent sit amet elit sagittis, sodales massa sit amet, ultrices enim. Nullam id orci ac urna pellentesque iaculis eget eu justo. Phasellus semper at purus at venenatis. In libero leo, blandit id massa vitae, dignissim porta ipsum.

                Donec tristique mattis lobortis. Nullam tincidunt placerat erat, ac congue eros. Maecenas ultrices mattis eros nec tincidunt. Sed accumsan tempus felis non commodo. Cras in sapien fermentum, luctus metus a, facilisis magna. Donec ut sem aliquet, porta nibh non, hendrerit sapien. Proin laoreet consectetur mauris, eget interdum leo ultricies eu. Suspendisse bibendum dignissim ex quis accumsan. Nulla facilisi. Vivamus viverra pulvinar eros ac mollis. Sed sem turpis, luctus ac pulvinar a, sodales et risus. Aliquam volutpat lobortis dolor, sit amet venenatis neque vulputate sed.

                Curabitur convallis mauris non volutpat convallis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Phasellus ac pretium diam. Donec aliquet dui vel ornare varius. Cras quam libero, posuere sit amet felis id, semper convallis massa. Cras vitae pulvinar turpis, at porta elit. Proin felis sapien, ornare in orci non, vestibulum dictum purus. Donec eu lorem at augue congue egestas et ut tortor. Aenean massa erat, ornare at enim vitae, fringilla ullamcorper tortor. Fusce vel tellus nec sem sagittis convallis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae;
            </p>
        </div>
        </section>

        <section>
        <div id="sect2">

        <h1>Section 2 About</h1>
        <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean scelerisque urna ut elit aliquet cursus. Vestibulum a commodo lorem. Phasellus ligula felis, feugiat vitae convallis et, dapibus ac felis. Suspendisse placerat vestibulum lorem, eget efficitur turpis eleifend ac. Nulla ullamcorper in sem eu elementum. Pellentesque elit orci, pretium vitae dui sed, semper venenatis lacus. Pellentesque ut lobortis leo. Maecenas mi mauris, suscipit sed massa sit amet, pretium vehicula diam. Aliquam sed velit scelerisque, congue leo quis, venenatis leo. Donec ut ligula a ipsum egestas tristique. Mauris at arcu consectetur, aliquam sem id, bibendum ligula.

                Sed elementum, justo quis congue semper, metus justo convallis libero, id accumsan nisl ex in leo. Vestibulum dolor velit, condimentum ut ultrices commodo, malesuada ac diam. Morbi vitae finibus tellus. Morbi euismod arcu a lectus luctus maximus. Praesent finibus nibh quis quam pharetra, non faucibus nisl elementum. Curabitur pharetra, nisi quis pretium commodo, risus dolor bibendum nisi, in interdum eros dolor a metus. Duis felis nunc, tristique ut volutpat id, semper ut enim. Nulla elementum quis quam ac lobortis. Donec pretium ligula a pharetra lobortis. Proin enim felis, accumsan at purus et, consequat pulvinar justo. Integer ac turpis eget turpis sodales feugiat quis et justo. Mauris vitae lobortis augue, sed ullamcorper libero.

                Suspendisse potenti. Phasellus placerat aliquet dapibus. Proin nec sem ligula. Etiam posuere eros vel nisl consequat, fermentum luctus dui vehicula. Cras eget elit fermentum, tempus elit efficitur, convallis mi. Sed et neque vehicula, iaculis neque quis, venenatis mauris. Sed posuere consequat ex. Vivamus malesuada elit eget nisi maximus, ac pulvinar orci posuere. Vestibulum imperdiet leo non facilisis eleifend. Maecenas eros metus, pellentesque at augue non, efficitur ultrices urna. Ut non accumsan massa, sed ullamcorper tellus. Sed ullamcorper varius nulla, sit amet scelerisque velit malesuada at. Vestibulum luctus purus ac dolor efficitur suscipit.

                Fusce magna risus, semper et faucibus ac, porta quis purus. Suspendisse ut aliquam dui, quis aliquet orci. Donec a ex in dolor pharetra porta faucibus id tellus. Nulla tellus libero, ornare id lacinia sed, imperdiet vel urna. Cras pellentesque dolor vitae justo consequat sollicitudin. Nunc sit amet pellentesque nibh. Proin ac mi a quam vulputate luctus eu eu leo. Cras pellentesque tortor in mauris ultricies, ut suscipit risus interdum. Suspendisse tempus elementum arcu. Sed vitae ornare urna. Curabitur ligula libero, venenatis ac eros in, placerat dignissim mauris. Nunc venenatis odio sed tempus pulvinar. Donec porta nulla id nulla semper, id mattis mauris aliquet. Sed hendrerit est eget mi scelerisque interdum.

                Pellentesque viverra dui at massa dignissim, quis faucibus sem accumsan. Nulla a nibh vel nibh venenatis facilisis at in elit. Nullam mollis libero vel velit sodales tristique. Nullam sodales magna id pellentesque pellentesque. Proin venenatis, mi eu venenatis varius, nunc arcu lacinia diam, id pharetra nulla sapien at risus. In sed mauris consequat, dictum eros quis, lobortis justo. Morbi tempor, eros sit amet ullamcorper eleifend, elit est iaculis tellus, nec fringilla nisl mauris non augue. In hac habitasse platea dictumst.
        </p>
        </div>
        </section>

        <section>
        <div id="sect3">

        <h1>Section 3 Services</h1>
        <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean scelerisque urna ut elit aliquet cursus. Vestibulum a commodo lorem. Phasellus ligula felis, feugiat vitae convallis et, dapibus ac felis. Suspendisse placerat vestibulum lorem, eget efficitur turpis eleifend ac. Nulla ullamcorper in sem eu elementum. Pellentesque elit orci, pretium vitae dui sed, semper venenatis lacus. Pellentesque ut lobortis leo. Maecenas mi mauris, suscipit sed massa sit amet, pretium vehicula diam. Aliquam sed velit scelerisque, congue leo quis, venenatis leo. Donec ut ligula a ipsum egestas tristique. Mauris at arcu consectetur, aliquam sem id, bibendum ligula.

                Sed elementum, justo quis congue semper, metus justo convallis libero, id accumsan nisl ex in leo. Vestibulum dolor velit, condimentum ut ultrices commodo, malesuada ac diam. Morbi vitae finibus tellus. Morbi euismod arcu a lectus luctus maximus. Praesent finibus nibh quis quam pharetra, non faucibus nisl elementum. Curabitur pharetra, nisi quis pretium commodo, risus dolor bibendum nisi, in interdum eros dolor a metus. Duis felis nunc, tristique ut volutpat id, semper ut enim. Nulla elementum quis quam ac lobortis. Donec pretium ligula a pharetra lobortis. Proin enim felis, accumsan at purus et, consequat pulvinar justo. Integer ac turpis eget turpis sodales feugiat quis et justo. Mauris vitae lobortis augue, sed ullamcorper libero.

                Suspendisse potenti. Phasellus placerat aliquet dapibus. Proin nec sem ligula. Etiam posuere eros vel nisl consequat, fermentum luctus dui vehicula. Cras eget elit fermentum, tempus elit efficitur, convallis mi. Sed et neque vehicula, iaculis neque quis, venenatis mauris. Sed posuere consequat ex. Vivamus malesuada elit eget nisi maximus, ac pulvinar orci posuere. Vestibulum imperdiet leo non facilisis eleifend. Maecenas eros metus, pellentesque at augue non, efficitur ultrices urna. Ut non accumsan massa, sed ullamcorper tellus. Sed ullamcorper varius nulla, sit amet scelerisque velit malesuada at. Vestibulum luctus purus ac dolor efficitur suscipit.

                Fusce magna risus, semper et faucibus ac, porta quis purus. Suspendisse ut aliquam dui, quis aliquet orci. Donec a ex in dolor pharetra porta faucibus id tellus. Nulla tellus libero, ornare id lacinia sed, imperdiet vel urna. Cras pellentesque dolor vitae justo consequat sollicitudin. Nunc sit amet pellentesque nibh. Proin ac mi a quam vulputate luctus eu eu leo. Cras pellentesque tortor in mauris ultricies, ut suscipit risus interdum. Suspendisse tempus elementum arcu. Sed vitae ornare urna. Curabitur ligula libero, venenatis ac eros in, placerat dignissim mauris. Nunc venenatis odio sed tempus pulvinar. Donec porta nulla id nulla semper, id mattis mauris aliquet. Sed hendrerit est eget mi scelerisque interdum.

                Pellentesque viverra dui at massa dignissim, quis faucibus sem accumsan. Nulla a nibh vel nibh venenatis facilisis at in elit. Nullam mollis libero vel velit sodales tristique. Nullam sodales magna id pellentesque pellentesque. Proin venenatis, mi eu venenatis varius, nunc arcu lacinia diam, id pharetra nulla sapien at risus. In sed mauris consequat, dictum eros quis, lobortis justo. Morbi tempor, eros sit amet ullamcorper eleifend, elit est iaculis tellus, nec fringilla nisl mauris non augue. In hac habitasse platea dictumst.
        </p>
        </div>
        </section>

        <section>
        <div id="sect4">

        <h1>Section 4 Quote Form (visible if user logged in)</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus id purus ipsum. Curabitur volutpat, ligula sit amet efficitur hendrerit, magna felis ornare lorem, quis consequat nulla purus nec justo. Nam ornare a purus sit amet elementum. In molestie eget arcu sed commodo. Donec eget gravida odio. Integer ut metus ut nunc tempus consectetur id vel nulla. Donec nisl purus, convallis sed vulputate eget, sollicitudin eget nunc. Integer dictum semper libero, eget luctus eros laoreet blandit. Pellentesque quis arcu vehicula, tincidunt odio vel, maximus lorem. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Pellentesque malesuada et nunc vitae fringilla. Nam volutpat sed nisl eu ornare. Etiam tempus nisi sed mauris condimentum porttitor. Duis congue augue nec nulla molestie placerat. Maecenas commodo, libero quis vestibulum aliquam, tellus velit cursus justo, nec hendrerit magna arcu eu odio. Maecenas elementum pretium ipsum ut tristique.

Cras convallis finibus tincidunt. Pellentesque condimentum lorem massa, ut lobortis ligula tincidunt id. Sed non rhoncus est, et tempor mi. Aenean sit amet ex eros. Pellentesque efficitur tempus neque, a aliquam est posuere blandit. Duis non justo sit amet massa scelerisque porttitor non a quam. Curabitur bibendum ligula a dui laoreet, vulputate porttitor sem commodo. Nullam eget ante hendrerit, tincidunt justo vel, posuere diam. Fusce blandit ante et nisl imperdiet, non dignissim leo venenatis. Nullam efficitur sem id neque mollis, a mollis quam accumsan. Donec arcu nunc, sollicitudin sit amet pulvinar quis, sagittis tincidunt neque. Curabitur rhoncus placerat rutrum. Duis condimentum volutpat ligula sed commodo. Nulla facilisi. Aenean a elit vel risus scelerisque tristique.

Morbi consectetur dignissim gravida. Fusce efficitur mi at magna congue, a cursus odio commodo. Donec blandit vehicula viverra. Aliquam malesuada eros et est viverra, vel maximus neque faucibus. Aliquam erat volutpat. Vivamus semper nec odio egestas finibus. Quisque ultricies tellus velit, sit amet facilisis erat rutrum sit amet.

Donec fringilla enim vel lorem tincidunt, a maximus dolor consectetur. Nunc vitae diam tortor. Vestibulum sed ipsum arcu. Vivamus nec volutpat urna. Suspendisse lobortis sem quam, non fringilla lorem suscipit at. Praesent at justo a felis facilisis lobortis. Praesent laoreet nec orci sit amet aliquam. Sed et eleifend risus. Cras id elit lacus. Nullam vitae condimentum ante. Vivamus dictum rhoncus tortor, ac porta eros aliquam eu. Vivamus finibus nisi magna, vitae interdum nisi auctor ac. Duis eget pulvinar ligula. Cras et velit a tellus aliquam fringilla ut vitae neque.

In eros orci, molestie non magna eu, tempus sodales nisl. Mauris aliquet libero et massa mattis dapibus. Sed sit amet aliquam nulla, sit amet tempus sapien. Aliquam vel mollis metus. Aliquam et sagittis lectus. In in dolor ullamcorper orci commodo vestibulum. Maecenas orci nulla, iaculis id risus nec, facilisis maximus enim. Quisque ut massa efficitur, rhoncus turpis nec, vulputate mauris. Aliquam tempor pellentesque gravida. Pellentesque porta dui at nibh commodo, non ornare arcu faucibus. Vivamus blandit, nisl sed egestas consequat, nibh neque pharetra libero, sit amet dignissim ligula sapien et nisl. Ut eu dictum libero, a congue diam. Nunc convallis eros at tortor blandit fringilla quis et eros. Mauris sit amet pharetra quam, sollicitudin feugiat dui. Duis vel finibus leo.
        </p>
        </div>
        </section>

        <section>
        <div id="sect5">
            
        <h1>Section 5 Login/ Register</h1>
        <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque porta efficitur consectetur. Praesent blandit aliquam dolor id pretium. In hac habitasse platea dictumst. Mauris tincidunt congue cursus. Praesent fermentum justo quis auctor blandit. In sagittis mollis neque, eu pellentesque ante imperdiet eu. Ut tincidunt, lacus a fringilla euismod, leo velit sodales est, ut finibus ex mi quis ipsum. Vestibulum maximus nisi vitae justo sollicitudin, sed interdum orci efficitur.

                Ut metus leo, vulputate ac egestas ultricies, porta iaculis nibh. Nullam justo magna, cursus vel ornare sit amet, pellentesque sagittis diam. Donec sit amet nisi vitae ligula sagittis ullamcorper. Etiam at diam felis. Ut tincidunt volutpat erat. Vestibulum lacus neque, commodo nec facilisis quis, hendrerit id justo. Vestibulum dui sapien, consectetur sed eros non, sollicitudin congue leo. Aliquam luctus interdum quam, in scelerisque nulla suscipit eget. Nunc feugiat dui vitae libero faucibus consectetur. Donec gravida molestie dolor nec elementum. Morbi aliquet malesuada ipsum a iaculis. Cras cursus magna vitae eleifend accumsan. Nam condimentum nisi vestibulum metus fringilla, vitae facilisis leo imperdiet. Cras metus mi, eleifend quis diam at, porttitor posuere enim. Aenean velit lacus, iaculis ac aliquet at, efficitur sed libero. Nulla est augue, ultrices non fermentum vitae, pharetra id nisi.

                Aliquam vitae urna est. Cras congue ultricies enim, eu pharetra diam sodales a. Cras quis blandit purus, eget porta erat. Integer gravida facilisis diam, elementum maximus lectus pulvinar vitae. Praesent non ultrices est. Praesent non tempor ex. Quisque luctus dictum scelerisque. Proin vestibulum finibus odio ut vehicula. Fusce vestibulum, urna id sagittis lacinia, magna nisi mollis sem, vel iaculis nisi tellus ac mauris. Sed turpis tortor, tristique sed mi in, vehicula dictum risus.

                Phasellus bibendum vitae metus ac bibendum. Duis in cursus tortor. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent venenatis, eros vel accumsan efficitur, ipsum sapien ornare ex, a interdum nisl tortor id nulla. Sed rutrum eu lacus in vestibulum. Nulla commodo sem vitae lacus gravida bibendum. Donec id euismod turpis. In feugiat odio sodales neque venenatis, eu consequat lacus luctus.

                In vel ante nibh. Etiam ut purus ac arcu iaculis consequat dictum quis dui. Nulla sagittis sapien risus, sed eleifend ipsum aliquam nec. Sed sollicitudin dignissim ante, sed tempor ante sagittis at. Quisque eu dapibus nisl. Praesent commodo sit amet urna at tempor. Cras non porta massa.
        </p>
        </div>
        </section>
</div>