@{
    ViewData["Title"] = "Main Page";
}
<div class="text-center">
    <section>
        <div id="sect1">

        <h1>Section 1 Welcome</h1>

        </div>
        </section>

        <section>
        <div id="sect2">

        <h1>Section 2 About</h1>

        </div>
        </section>

        <section>
        <div id="sect3">

        <h1>Section 3 Services</h1>

        </div>
        </section>

        <section>
        <div id="sect4">

        <h1>Section 4 Quote Form (visible if user logged in)</h1>

        </div>
        </section>

        <section>
        <div id="sect5">
            
        <h1>Section 5 Login/ Register</h1>
        
        </div>
        </section>
</div>