@model ELinkTech.ViewModels.Main
<div asp-validation-summary="All" class="text-danger"></div>
<div class="row">
    <div class="col-12 col-lg-6">
        <h1 class="mb-3">Login</h1>
        <form method="post">
            <div class="mb-1">
                <label class="col-form-label" asp-for="LoginEmail"></label>
                <input type="text" asp-for="LoginEmail" class="form-control" />
                <span asp-validation-for="LoginEmail" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="col-form-label" asp-for="LoginPassword"></label>
                <input type="password" asp-for="LoginPassword" class="form-control" />
                <span asp-validation-for="LoginPassword" class="text-danger"></span>
            </div>
            <div class="mb-3 form-check">
                <input type="checkbox" asp-for="RememberMe" class="form-check-input" />
                <label class="form-check-label" asp-for="RememberMe">Remember Me?</label>
            </div>
            <button class="btn btn-primary" asp-action="Login">Login</button>
        </form>
    </div>
</div>