@model ELinkTech.ViewModels.Main
<div class="container" style="padding-top: 90px;">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-6">
        <div asp-validation-summary="All" class="text-danger"></div>
            <h1 class="mb-3 text-center" style="padding-top: 10px;">Register</h1>
            <form method="post">
                <div class="mb-1">
                    <label class="col-form-label" asp-for="RegisterEmail"></label>
                    <input type="text" asp-for="RegisterEmail" class="form-control" required />
                    <span asp-validation-for="RegisterEmail" class="text-danger"></span>
                </div>
                <div class="mb-1">
                    <label class="col-form-label" asp-for="RegisterPassword"></label>
                    <input type="password" asp-for="RegisterPassword" class="form-control" required />
                    <span asp-validation-for="RegisterPassword" class="text-danger"></span>
                </div>
                <div class="mb-1 pb-5">
                    <label class="col-form-label" asp-for="ConfirmPassword"></label>
                    <input type="password" asp-for="ConfirmPassword" class="form-control" required />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="mb-1">
                    <label class="col-form-label" asp-for="FirstName"></label>
                    <input type="text" asp-for="FirstName" class="form-control" required />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="mb-1">
                    <label class="col-form-label" asp-for="LastName"></label>
                    <input type="text" asp-for="LastName" class="form-control" required />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="mb-1">
                    <label class="col-form-label" asp-for="ContactNumber"></label>
                    <input type="text" asp-for="ContactNumber" class="form-control" required />
                    <span asp-validation-for="ContactNumber" class="text-danger"></span>
                </div>
                <div class="mb-1">
                    <label class="col-form-label" asp-for="State"></label>
                    <input type="text" asp-for="State" class="form-control" />
                    <span asp-validation-for="State" class="text-danger"></span>
                </div>
                <div class="mb-1">
                    <label class="col-form-label" asp-for="Address"></label>
                    <input type="text" asp-for="Address" class="form-control" />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
                <div class="mb-1">
                    <label class="col-form-label" asp-for="Suburb"></label>
                    <input type="text" asp-for="Suburb" class="form-control" />
                    <span asp-validation-for="Suburb" class="text-danger"></span>
                </div>
                <div class="mb-1">
                    <label class="col-form-label" asp-for="Postcode"></label>
                    <input type="text" asp-for="Postcode" class="form-control" />
                    <span asp-validation-for="Postcode" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label class="col-form-label" asp-for="DateOfBirth"></label>
                    <input type="text" asp-for="DateOfBirth" class="form-control" />
                    <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                </div>
                <div class="d-grid">
                    <button class="btn btn-primary" asp-action="Register">Register</button>
                </div>
            </form>
        </div>
    </div>
</div>