html {
  font-size: 14px;
  scroll-padding-top: 65px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

a.nav-link:hover {
    color: #d6ac13 !important;
}

.form-center {
    display: flex;
    justify-content: center;
}