html {
  font-size: 14px;
  scroll-padding-top: 65px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

a.nav-link:hover {
    color: #d6ac13 !important;
}

.form-center {
    display: flex;
    justify-content: center;
}
#quote-product-list {
    width: 100%;
    max-width: 600px;
}

#sect2, #sect3, #sect4, #sect5 {
    margin-top: 40px;
}

.card-img-top {
    width: auto;
    height: 20vh;
    object-fit: cover;
}

.modal-body p {
    margin-left: 10px;
    margin-right: 10px;
}

.modal-body img {
    width: 100%;
    height: 30vh;
    object-fit: cover;
}

.modal-body h1, h2 {
    margin: 30px;
}

.modal-body ul {
    list-style-position: inside;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic);

.modal blockquote {
    font-size: 1.2em;
    width: 85%;
    margin: 50px auto;
    font-family: Open Sans;
    font-style: italic;
    color: #555555;
    padding: 1.2em 30px 1.2em 75px;
    border-left: 8px solid #F39C12;
    line-height: 1.6;
    position: relative;
    background: #EDEDED;
}

.modal blockquote p {
    margin-bottom: 0px;
}

.modal blockquote::before {
    font-family: Arial;
    content: "\201C";
    color: #F39C12;
    font-size: 5em;
    position: absolute;
    left: 10px;
    top: -10px;
}

.modal blockquote::after {
    content: '';
}

#filled:hover {
    background-color: white !important;
    color: black !important;
}

#outlined:hover {
    background-color: #F39C12;
    color: white;
}
